- title 'House Bills'

- if @user = current_user
  = render partial: 'rolls', locals: {the_rolls: @not_voted_on_rolls, title: 'Most popular rolls you haven\'t voted on:', roll_type: 'not_voted_on'}
  = render partial: 'rolls', locals: {the_rolls: @voted_on_rolls, title: 'You voted on', roll_type: 'voted_on'}
- else
  = render partial: 'rolls', locals: {the_rolls: @rolls, title: 'most popular rolls', roll_type: 'the_rolls'}
