
.well
  - if parent.comments.size > 0
    %h4 Comments

    %ul
      - parent.comments.each do |comment|
        %li= comment.content

  %h4 Add Comment
  = render partial: 'comments/form', locals: {parent: parent, comment: comment, author: author, author_email: author_email}