%h3 Home

%p Welcome to the new polco: encouraging Participation, providing Transparency, measuring Representation

%p
  Are you interested in polco info?
  = link_to "click here", home_polco_info_path

%p
  You can see
  = link_to "house bills", represent_house_bills_path
  here.

%p
  You can see
  = link_to "senate bills", represent_senate_bills_path
  here.


