= simple_form_for @subject, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    = f.input :name
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to 'cancel', subjects_path, :class => 'btn'
