- if members.size > 0
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Member Since
    - members.each do |member|
      %tr
        %td
          = link_to member.name, member
        %td
          member since
