%h4 State Results
.well
  %table.table.table-striped
    %tr
      %th State
      %th Tally
      %th Senators
      %th Party
    - states.each do |s|
      - # to do this row, we want to make sure there are results to show
      - if s.has_activity?(roll)
        %tr
          %td= link_to s.name, s
          %td= s.format_votes_tally(roll)
          %td= roll.senators_votes(s)
          %td= s.senators_parties